div{
    height: 200px;
    width: 200px;
    position: absolute;
    top:200px;
    left: 200px;
    border: 30px solid black;
    border-radius: 50%;
    border-top: 30px solid blue;
    animation:loading 7s ease-in 1s infinite normal;
    
}
@keyframes loading{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
    
}